# Automating all this! 

## American University COMM 260, fall 2025

## üëÄ What am I looking at?

This is a Jupyter Notebook. It lets you run Python code cell-by-cell. Any cell that has a bracket to the left of it is Python code you can run. The rest are written in markdown.

Go ahead and try runninng these next few cells one at a time. (Note: you can run a cell by selecting it then clicking the play button, or by hitting shfit+enter)

In [1]:
2+3

5

In [2]:
print("hello world")

hello world

In [3]:
my_name = "**Write your name here**"
print("Nice to meet you, " + my_name)

Nice to meet you, **Write your name here**

üßë‚Äçüíª See on that cell above how it's printing `Nice to meet you, **Write your name here**`? Fix that by deleting `**Write your name here**` and putting your name instead in the next cell, then running it.

In [4]:
my_name = "**Write your name here**"
print("Nice to meet you, " + my_name)

Nice to meet you, **Write your name here**

This is using a *variable* in your code, in this case called `my_name`. That variable can be set to whatever you want. It's like algebra, where `x+3` changes depending on what `x` is.

In [5]:
x = 5

In [6]:
x+3

8

üßë‚Äçüíª Now change the variable of x to something else and run the next 2 cells.

In [9]:
x = 3

In [10]:
x+3

6

We're not going to spend a ton of time going over all the fundamentals of programming, but we'll be taking advantage of variables as "shortcuts" throughout our lesson. So, for example, if I want to keep using my name in code, I don't have to write `"Sean McMinn"` every time, I can just type `my_name`

## üìö Loading in libraries

We can use this same idea of shorcuts for large blocks of prewritten code. These are known as *modules* or *libraries*. Some come included with Python, others you have to install.

First, we're going to bring in a module called `date` from a larger module called `datetime`

In [11]:
from datetime import date

See if you can figure out what the next block of code is doing, then run it.

In [12]:
start_date = date(2025, 1, 20)
end_date = date.today()

difference = end_date - start_date
print("It's been", difference.days, "days since Trump took office.")

It's been 295 days since Trump took office.

This module `date` lets us work with dates and store them as variables. In this case, it's also calculating the difference in dates for us.

Another library called `pandas` lets us work with spreadsheets and store them as variables. We typically abbreviate it as `pd`, which you can tell Python to do when you import the library. 

This one doesn't come standard with Python, so first we want to make sure it's installed on your computer. (We're also installing another library called `lxml` that lets pandas grab tables from the web.)

In [13]:
%pip install pandas lxml

Requirement already satisfied: pandas in /Users/seanmcminn/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: lxml in /Users/seanmcminn/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (6.0.0)
Requirement already satisfied: numpy>=1.26.0 in /Users/seanmcminn/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/seanmcminn/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/seanmcminn/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/seanmcminn/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/seanmcminn/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Now we're going to import pandas and "nickname" it `pd`. This is a common convention just so we don't have to spell out `pandas` every line of code we use it.

In [14]:
import pandas as pd

## üßÆ Dataframes

First, let's just try reading in a CSV of AU mens basketball points leaders. Make sure the csv file `points_leaders.csv` is in the same folder as this Jupyter notebook file.

In [15]:
pd.read_csv("points_leaders.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'points_leaders.csv'

This output a *dataframe* ‚Äî that's what Pandas calls a table or spreadsheet. You haven't done anything with it yet, you're just viewing it in your notebook.

See how this already has Pts/G calculated? Let's see if we can match that math.

First, store the dataframe as a variable. We'll call it `df` - short for dataframe.

In [ ]:
df = pd.read_csv("points_leaders.csv")

Then, add a new column calculating our own points per game. To add a new column, the syntax is `df["whatever_you_want_to_call_your_column"] = `

We can also do math between columns using pandas. `df['Pts']/df['GP']` divides the points column by the games played column.

In [ ]:
df['pts_per_game'] = df['Pts']/df['GP']

Notice nothing "happened" when you ran the two cells above. That's because you're not outputting anything at the end of the cell. You're only assigning something to a variable or a column. 

In this next cell, let's output `df` so we can look at it.

In [ ]:
df

You can see our pts_per_game column is roughly equal to Pts/G ‚Äî¬†just off by rounding. 

üßë‚Äçüíª On your own in the next cell, see if you can create a new column called "pts_per_game_rounded" that rounds your "pts_per_game" column to match AU's official one. The way to round a column to one digit is `df['column_name'].round(1)`. Use the cell above where we did division as an example.

## üèÄ Getting the data from AU basketball

*To learn Python, we are going to look at all the mens basketball games played over the last several years and see who AU has historically done well against and who they have done poorly against. This is a large, multi-step data analysis project that brings together the acquisition, cleaning and analyzing data steps that we've gone over previously in class.*

Pandas can grab data tables directly from the web. Hop over to your browser and look at the web page `https://aueagles.com/sports/mens-basketball/stats/2024-25`. If you "inspect element" you can see it's made up of tables for each stat sheet.

We want to figure out how to grab the GAME-BY-GAME table.

In [16]:
web_tables = pd.read_html("https://aueagles.com/sports/mens-basketball/stats/2024-25")
len(web_tables)

23

The above cell gets **all** the tables from `https://aueagles.com/sports/mens-basketball/stats/2024-25`. It then prints the length `len()` of what's returned by pandas. In total, there are 23 tables on the website! 

Let's look at the first table. To access the first item in a list, you add `[0]` to the end of it. (Yes, `[0]` is 1st, don't ask why. So `[1]` is second, `[2]` is third, etc.) This is called the index of a list.

In [17]:
web_tables[0]

                           Statistic    American Opponents  OPP
0                            Scoring     Scoring        Scoring
1                  Total Points  TOT        2406           2370
2               Points Per Game  PPG        68.7           67.7
3             Scoring Margin  Margin         1.0             --
4                           Shooting    Shooting       Shooting
5        FG: Made-Attempted  FGM-FGA    840-1893       852-1863
6                FG: Percentage  FG%        .444           .457
7                FG: Per Game  FGM/G        24.0           24.3
8       3PT: Made-Attempted  3PT-3PA     299-859        216-652
9              3PT: Percentage  3PT%        .348           .331
10              3PT: Per Game  3PT/G         8.5            6.2
11       FT: Made-Attempted  FTM-FTA     427-566        450-643
12               FT: Percentage  FT%        .754           .700
13                FT: Per Game  FT/G        12.2           12.9
14                        Rebounding  Rebounding     Rebounding
15                        Total  TOT        1057           1129
16                     Per Game  RPG        30.2           32.3
17                            Margin        -2.1             --
18                           Assists     Assists        Assists
19                        Total  TOT         441            430
20                     Per Game  APG        12.6           12.3
21                         Turnovers   Turnovers      Turnovers
22                        Total  TOT         389            418
23                    Per Game  TO/G        11.1           11.9
24                            Margin         0.8             --
25       Assist/Turnover Ratio  A/TO         1.1            1.0
26  Points Off Turnovers  PTS OFF TO        14.4           13.0
27                            Steals      Steals         Steals
28                        Total  TOT         229            209
29                   Per Game  STL/G         6.5            6.0
30                            Blocks      Blocks         Blocks
31                        Total  TOT          66             97
32                   Per Game  BLK/G         1.9            2.8
33                        Attendance  Attendance     Attendance
34                        Total  TOT       26090          49230
35                     Per Game  AVG    16-1,631       15-3,282

üßë‚Äçüíª See if you can find the table we want ‚Äî it's the `GAME-BY-GAME` `TEAM` table. Once you've found it, store it as a variable called `scores_df`. So `scores_df = web_tables[?]`. Then output `scores_df` at the bottom of the cell.

Hint: The tables are in the same order here that they appear in the menu on AU's website, and there can be multiple tables under each tab on the website.

In [18]:
scores_df = web_tables[5]
scores_df

,Opponent,Date,Score,W/L,FGM/A,PCT,3FG/A,PCT.1,FTM/A,PCT.2,...,DEF,TOT,AVG,PF,AST,TO,BLK,STL,PTS,AVG.1
0,at La Salle,11/04/24,52-65,L,20-55,0.364,9-31,0.290,3-8,0.375,...,22,31,31.0,16,13,10,3,3,52,52.0
1,vs Harvard,11/10/24,67-55,W,22-50,0.440,9-24,0.375,14-17,0.824,...,27,32,31.5,21,13,11,3,6,67,59.5
2,at Siena,11/12/24,66-74,L,24-55,0.436,9-18,0.500,9-12,0.750,...,15,24,29.0,21,11,8,2,7,66,61.7
3,at North Carolina,11/15/24,55-107,L,19-61,0.311,7-31,0.226,10-11,0.909,...,16,23,27.5,23,6,13,1,3,55,60.0
4,at High Point,11/18/24,73-80,L,29-52,0.558,7-22,0.318,8-12,0.667,...,14,26,27.2,22,13,11,1,1,73,62.6
5,vs Kansas City,11/22/24,64-60,W,18-43,0.419,3-20,0.150,25-27,0.926,...,23,31,27.8,19,5,20,1,8,64,62.8
6,at P.R.-Bayamon,11/23/24,73-56,W,26-59,0.441,6-28,0.214,15-22,0.682,...,25,33,28.6,22,14,14,3,10,73,64.3
7,at UAlbany,11/24/24,81-77,W,29-45,0.644,9-16,0.563,14-24,0.583,...,20,24,28.0,25,13,16,7,3,81,66.4
8,vs Notre Dame (MD),12/01/24,97-52,W,32-59,0.542,10-27,0.370,23-30,0.767,...,29,42,29.6,18,19,15,2,13,97,69.8
9,vs George Washington,12/04/24,81-71,W (OT),25-62,0.403,13-32,0.406,18-24,0.750,...,30,42,30.8,18,16,16,5,9,81,70.9
10,at Saint Joseph's,12/18/24,57-84,L,20-56,0.357,7-24,0.292,10-15,0.667,...,14,25,30.3,16,11,16,2,10,57,69.6
11,at Virginia,12/22/24,58-63,L,19-50,0.380,11-31,0.355,9-9,1.000,...,23,26,29.9,14,13,7,3,5,58,68.7
12,vs UMBC,12/29/24,93-96,L (2 OT),37-77,0.481,11-31,0.355,8-16,0.500,...,29,41,30.8,20,21,11,4,5,93,70.5
13,at Navy,01/02/25,58-81,L,21-56,0.375,9-33,0.273,7-11,0.636,...,21,28,30.6,18,13,9,0,4,58,69.6
14,vs Holy Cross,01/05/25,75-64,W,24-48,0.500,12-24,0.500,15-17,0.882,...,21,24,30.1,16,16,8,0,5,75,70.0
15,at Boston U.,01/08/25,54-60,L,18-50,0.360,6-21,0.286,12-13,0.923,...,23,29,30.1,19,7,8,1,5,54,69.0
16,vs Bucknell,01/11/25,68-58,W,23-49,0.469,6-18,0.333,16-21,0.762,...,22,29,30.0,18,10,14,3,8,68,68.9
17,at Loyola Maryland,01/13/25,73-54,W,28-56,0.500,10-23,0.435,7-10,0.700,...,26,33,30.2,19,13,8,0,8,73,69.2
18,at Holy Cross,01/18/25,74-65,W,25-53,0.472,10-23,0.435,14-16,0.875,...,25,33,30.3,14,16,9,1,7,74,69.4
19,vs Lehigh,01/22/25,68-67,W,21-46,0.457,7-20,0.350,19-24,0.792,...,22,27,30.2,19,14,10,2,7,68,69.4
20,vs Colgate,01/25/25,81-77,W,23-50,0.460,9-20,0.450,26-32,0.813,...,22,31,30.2,19,10,9,3,7,81,69.9
21,at Lafayette,01/29/25,75-68,W,24-59,0.407,11-28,0.393,16-17,0.941,...,24,32,30.3,14,14,6,0,5,75,70.1
22,vs Army West Point,02/01/25,71-68,W,26-53,0.491,9-25,0.360,10-16,0.625,...,24,38,30.6,16,12,15,1,4,71,70.2
23,at Bucknell,02/05/25,49-71,L,16-46,0.348,5-21,0.238,12-17,0.706,...,17,21,30.2,17,8,12,2,5,49,69.3
24,at Lehigh,02/08/25,78-75,W (OT),25-59,0.424,5-21,0.238,23-27,0.852,...,28,38,30.5,31,8,11,3,4,78,69.6
25,vs Lafayette,02/10/25,60-58,W,23-51,0.451,5-20,0.250,9-11,0.818,...,26,30,30.5,16,11,7,0,8,60,69.3
26,vs Loyola Maryland,02/15/25,72-51,W,27-52,0.519,13-23,0.565,5-7,0.714,...,23,31,30.5,18,18,13,0,6,72,69.4
27,at Army West Point,02/19/25,69-76,L,26-61,0.426,9-26,0.346,8-13,0.615,...,19,28,30.4,19,17,7,1,7,69,69.4
28,vs Boston U.,02/22/25,48-44,W,18-56,0.321,2-21,0.095,10-12,0.833,...,23,33,30.5,10,6,9,3,12,48,68.6
29,vs Navy,02/26/25,60-68,L,21-56,0.375,7-31,0.226,11-17,0.647,...,19,28,30.4,25,10,9,0,6,60,68.3
30,at Colgate,03/01/25,67-59,W,25-51,0.490,12-26,0.462,5-8,0.625,...,24,28,30.4,12,16,13,1,8,67,68.3
31,vs Lafayette,03/06/25,71-69,W,25-54,0.463,10-23,0.435,11-16,0.688,...,21,27,30.3,10,13,11,1,10,71,68.4
32,vs Colgate,03/09/25,72-62,W,27-54,0.500,7-17,0.412,11-13,0.846,...,25,32,30.3,9,11,11,1,8,72,68.5
33,vs Navy,03/12/25,74-52,W,27-52,0.519,11-25,0.440,9-13,0.692,...,27,31,30.3,13,15,9,3,8,74,68.6
34,vs Mount St. Mary's,03/19/25,72-83,L,27-57,0.474,13-35,0.371,5-8,0.625,...,18,26,30.2,18,15,13,3,4,72,68.7
35,American,NaN,-,NaN,840-1893,0.444,299-859,0.348,427-566,0.754,...,787,1057,30.2,625,441,389,66,229,2406,68.7
36,Opponents,NaN,-,NaN,852-1863,0.457,216-652,0.331,450-643,0.700,...,834,1129,32.3,548,430,418,97,209,2370,67.7

At this point, it's useful to think about what we need to do with the data to answer our question of total point differential per team ‚Äî¬†kind of like a recipe Let's make a set of instructions together. 

1. Read in all tables
2. Find the table that has team scores.
3. Get the score for AU and the score for the opponent.
4. Combine the points for and against each team played more than once.
5. Calculate the total point differential for each opponent.
7. Repeat for all years.

## üî¢ Pulling out the scores

Let's split out the scores so we have AU's score in one column and oponent's in another.

In [19]:
scores_df['AU_score'] = scores_df['Score'].str.split("-",expand=True)[0]

Break that down:

`scores_df['AU_score'] = ` seting a new column alled `AU_score`

`scores_df['Score']` the score column we got from AU's website

`.str` Allows us to use some special built-in Pandas code that applies to text strings (vs numbers or date columns, for example)

`.split("-", expand=True)` "splits" the text string at the dash that separates the away and home score. Expands it so we now have a list with two numbers

`[0]` gives us the first item in that new list, which ends up being everything before the dash

How do you know how to write that? Honestly, practice. But you can always ask ChatGPT!

> **i have a score column that looks like 50-44. I want the first number pulled into a column called AU_score**

> Perfect ‚Äî you can split the score string on the dash (-) and grab the first number. Here‚Äôs how in pandas:

    # Create new column with first number
    df["AU_score"] = df["score"].str.split("-").str[0]

üßë‚Äçüíª **Now, make a new column called `opp_score` with the second number from the `Score` column**

In [20]:
scores_df['opp_score'] = scores_df['Score'].str.split("-",expand=True)[1]

In [21]:
scores_df.head(2)

,Opponent,Date,Score,W/L,FGM/A,PCT,3FG/A,PCT.1,FTM/A,PCT.2,...,AVG,PF,AST,TO,BLK,STL,PTS,AVG.1,AU_score,opp_score
0,at La Salle,11/04/24,52-65,L,20-55,0.364,9-31,0.290,3-8,0.375,...,31.0,16,13,10,3,3,52,52.0,52,65
1,vs Harvard,11/10/24,67-55,W,22-50,0.440,9-24,0.375,14-17,0.824,...,31.5,21,13,11,3,6,67,59.5,67,55

I'm going to use `.head()` from here on out to just look at the top of the dataframe if I want a shorter view of it. So `.head(2)` shows just the first 2 rows (plus the column headers).

If you look all the way to the right, you can see we have these two new columns. So it looks like AU lost the first game and won the second ‚Äî¬†comparing to the `W/L` column, looks correct to me!

## ‚õπÔ∏è‚Äç‚ôÇÔ∏è Standardizing the opponents

We want to tally up the points for each opponent, but right now we have that pesky "at" or "vs" in the "Opponent" column

We can get rid of it by only selecting everything after the space ... which appears to be the THIRD "character" in that column. We'll use that `.str` operator again to select everything after the third character in the column.

In [22]:
scores_df['opp_name'] = scores_df['Opponent'].str[3:]
scores_df['opp_name']

0              La Salle
1               Harvard
2                 Siena
3        North Carolina
4            High Point
5           Kansas City
6          P.R.-Bayamon
7               UAlbany
8       Notre Dame (MD)
9     George Washington
10       Saint Joseph's
11             Virginia
12                 UMBC
13                 Navy
14           Holy Cross
15            Boston U.
16             Bucknell
17      Loyola Maryland
18           Holy Cross
19               Lehigh
20              Colgate
21            Lafayette
22      Army West Point
23             Bucknell
24               Lehigh
25            Lafayette
26      Loyola Maryland
27      Army West Point
28            Boston U.
29                 Navy
30              Colgate
31            Lafayette
32              Colgate
33                 Navy
34     Mount St. Mary's
35                rican
36               onents
Name: opp_name, dtype: object

## üëã Dropping the non-game rows

This looks good up until the last two rows. Let's look at those with the `.tail()` function ‚Äî¬†it's like the opposite of `.head()` so it shows us the bottom rows

In [23]:
scores_df.tail()

,Opponent,Date,Score,W/L,FGM/A,PCT,3FG/A,PCT.1,FTM/A,PCT.2,...,PF,AST,TO,BLK,STL,PTS,AVG.1,AU_score,opp_score,opp_name
32,vs Colgate,03/09/25,72-62,W,27-54,0.500,7-17,0.412,11-13,0.846,...,9,11,11,1,8,72,68.5,72,62,Colgate
33,vs Navy,03/12/25,74-52,W,27-52,0.519,11-25,0.440,9-13,0.692,...,13,15,9,3,8,74,68.6,74,52,Navy
34,vs Mount St. Mary's,03/19/25,72-83,L,27-57,0.474,13-35,0.371,5-8,0.625,...,18,15,13,3,4,72,68.7,72,83,Mount St. Mary's
35,American,NaN,-,NaN,840-1893,0.444,299-859,0.348,427-566,0.754,...,625,441,389,66,229,2406,68.7,,,rican
36,Opponents,NaN,-,NaN,852-1863,0.457,216-652,0.331,450-643,0.700,...,548,430,418,97,209,2370,67.7,,,onents

For these two rows, they appear to be totals so we should "drop" them from the dataframe. 

HOWEVER, we want to do this in a way that's ideally automatable. So we don't just want to take row number 35 and 36, since maybe in a previous year those totals don't exist, or they are on different row numbers.

Instead, let's "filter" the dataframe to just rows where the date is not blank. 

See how the date on those rows is `NaN`? That's pandas-speak for "not a number". We can filter those out like this:

In [24]:
scores_df = scores_df[scores_df['Date'].isna()==False]

In general, the way you filter a pandas dataframe to specific rows is like this:

`df[df['column_name'] == X]` => filters to rows where a column is equal to X

`df[df['column_name'] != X]` => filters to rows where a column is NOT equal to X

`df[df['column_name'] > X]` => filters to rows where a column is greater than X

`df[df['column_name'].isna()]` => filters to rows where a column is blank

In our case, we're looking for where a column is NOT blank. So we say `.isna()==False`, which checks if the column is null, and returns False if so.

In [25]:
scores_df.tail()

,Opponent,Date,Score,W/L,FGM/A,PCT,3FG/A,PCT.1,FTM/A,PCT.2,...,PF,AST,TO,BLK,STL,PTS,AVG.1,AU_score,opp_score,opp_name
30,at Colgate,03/01/25,67-59,W,25-51,0.490,12-26,0.462,5-8,0.625,...,12,16,13,1,8,67,68.3,67,59,Colgate
31,vs Lafayette,03/06/25,71-69,W,25-54,0.463,10-23,0.435,11-16,0.688,...,10,13,11,1,10,71,68.4,71,69,Lafayette
32,vs Colgate,03/09/25,72-62,W,27-54,0.500,7-17,0.412,11-13,0.846,...,9,11,11,1,8,72,68.5,72,62,Colgate
33,vs Navy,03/12/25,74-52,W,27-52,0.519,11-25,0.440,9-13,0.692,...,13,15,9,3,8,74,68.6,74,52,Navy
34,vs Mount St. Mary's,03/19/25,72-83,L,27-57,0.474,13-35,0.371,5-8,0.625,...,18,15,13,3,4,72,68.7,72,83,Mount St. Mary's

Now the total rows are gone when we look at the tail!

## ‚ûï Combining for each opponent

So now we can add up the total AU points and total opponent points for each opponent. For an opponent like "Navy" we should see totals added together, since we played them 3 times.

In [26]:
scores_combined_df = scores_df.groupby("opp_name").sum()[['AU_score','opp_score']]

`scores_combined_df = ` creates a brand new dataframe (think of it like a new pivot table or new tab in a spreadsheet)

`scores_df.groupby("opp_name")` groups the scores_df dataframe into one row per value in `opp_name` column (one row per opponent) 

`.sum()` adds up the grouped values in every column

`[['AU_score','opp_score']]` only returns the AU_score and opponent score columns

In [27]:
scores_combined_df

                  AU_score opp_score
opp_name
Army West Point       7169      6876
Boston U.             5448      6044
Bucknell              6849      5871
Colgate             816772    775962
George Washington       81        71
Harvard                 67        55
High Point              73        80
Holy Cross            7574      6465
Kansas City             64        60
La Salle                52        65
Lafayette           756071    685869
Lehigh                6878      6775
Loyola Maryland       7372      5451
Mount St. Mary's        72        83
Navy                586074    816852
North Carolina          55       107
Notre Dame (MD)         97        52
P.R.-Bayamon            73        56
Saint Joseph's          57        84
Siena                   66        74
UAlbany                 81        77
UMBC                    93        96
Virginia                58        63

But wait! Something loks wrong. Did AU really score 586,074 points against Navy? 

Nope. 

This is "summing" *strings*, not integers, together. So 58 AU's first game, 60 from AU's second game and 74 from AU's third game ...

We need to tell Pandas that that column are actually *integers*. Not strings of text.

So we here we go back to our original scores_df dataframe and recast certain columns as integers (ignore the warnings that pop up.)

In [28]:
scores_df['AU_score'] = scores_df['AU_score'].astype(int)

/var/folders/4p/sk1kyy7d621cjpk6t3v7dxp00000gn/T/ipykernel_30931/4266203417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scores_df['AU_score'] = scores_df['AU_score'].astype(int)

üßë‚Äçüíª **Do the same for opp_score**

In [29]:
scores_df['opp_score'] = scores_df['opp_score'].astype(int)

/var/folders/4p/sk1kyy7d621cjpk6t3v7dxp00000gn/T/ipykernel_30931/2847258690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scores_df['opp_score'] = scores_df['opp_score'].astype(int)

Now we'll go back and create our groupby dataframe again, and this time it should know those 2 columns are integers that need to be summed

In [30]:
scores_combined_df = scores_df.groupby("opp_name").sum()[['AU_score','opp_score']]
scores_combined_df

                   AU_score  opp_score
opp_name
Army West Point         140        144
Boston U.               102        104
Bucknell                117        129
Colgate                 220        198
George Washington        81         71
Harvard                  67         55
High Point               73         80
Holy Cross              149        129
Kansas City              64         60
La Salle                 52         65
Lafayette               206        195
Lehigh                  146        142
Loyola Maryland         145        105
Mount St. Mary's         72         83
Navy                    192        201
North Carolina           55        107
Notre Dame (MD)          97         52
P.R.-Bayamon             73         56
Saint Joseph's           57         84
Siena                    66         74
UAlbany                  81         77
UMBC                     93         96
Virginia                 58         63

Better!

So now we have the total for and against each opponent, but we really want the point differential. 

Just like we used division when we calculated points per game earlier on, we'll do the same here by creating a new column that subtracts opponent score from AU score. 

üßë‚Äçüíª **Create a new column in `scores_combined_df` called `point_diff` that is equal to `AU_score` - `opp_score`**

In [31]:
scores_combined_df['points_diff'] = scores_combined_df['AU_score'] - scores_combined_df['opp_score']

In [32]:
scores_combined_df

                   AU_score  opp_score  points_diff
opp_name
Army West Point         140        144           -4
Boston U.               102        104           -2
Bucknell                117        129          -12
Colgate                 220        198           22
George Washington        81         71           10
Harvard                  67         55           12
High Point               73         80           -7
Holy Cross              149        129           20
Kansas City              64         60            4
La Salle                 52         65          -13
Lafayette               206        195           11
Lehigh                  146        142            4
Loyola Maryland         145        105           40
Mount St. Mary's         72         83          -11
Navy                    192        201           -9
North Carolina           55        107          -52
Notre Dame (MD)          97         52           45
P.R.-Bayamon             73         56           17
Saint Joseph's           57         84          -27
Siena                    66         74           -8
UAlbany                  81         77            4
UMBC                     93         96           -3
Virginia                 58         63           -5

Last thing, let's sort the dataframe by that new column to see who AU did best and worst against overall

In [33]:
scores_combined_df.sort_values("points_diff")

                   AU_score  opp_score  points_diff
opp_name
North Carolina           55        107          -52
Saint Joseph's           57         84          -27
La Salle                 52         65          -13
Bucknell                117        129          -12
Mount St. Mary's         72         83          -11
Navy                    192        201           -9
Siena                    66         74           -8
High Point               73         80           -7
Virginia                 58         63           -5
Army West Point         140        144           -4
UMBC                     93         96           -3
Boston U.               102        104           -2
Kansas City              64         60            4
Lehigh                  146        142            4
UAlbany                  81         77            4
George Washington        81         71           10
Lafayette               206        195           11
Harvard                  67         55           12
P.R.-Bayamon             73         56           17
Holy Cross              149        129           20
Colgate                 220        198           22
Loyola Maryland         145        105           40
Notre Dame (MD)          97         52           45

## üßë‚Äçü§ù‚Äçüßë Combining all that

What we've done so far is 

* Get the 2024 table from the AU website
* Pull out the scores
* Standardize the opponents
* Drop the non-game total rows
* Combine the scores for each opponent

We've done this across several cells, but all in one cell it could look like this (again, ignore the warnings):

In [34]:
import pandas as pd

# get the data from AU
web_tables = pd.read_html("https://aueagles.com/sports/mens-basketball/stats/2024-25")
scores_df = web_tables[5]

# pull out the scores
scores_df['AU_score'] = scores_df['Score'].str.split("-",expand=True)[0]
scores_df['opp_score'] = scores_df['Score'].str.split("-",expand=True)[1]

# standardize opponent name by removing vs or at
scores_df['opp_name'] = scores_df['Opponent'].str[3:]

# drop the non game total rows
scores_df = scores_df[scores_df['Date'].isna()==False]

# combine for each opponent
scores_df['AU_score'] = scores_df['AU_score'].astype(int)
scores_df['opp_score'] = scores_df['opp_score'].astype(int)
scores_combined_df = scores_df.groupby("opp_name").sum()[['AU_score','opp_score']]
scores_combined_df['points_diff'] = scores_combined_df['AU_score'] - scores_combined_df['opp_score']

# output the sorted combined scores dataframe
scores_combined_df.sort_values("points_diff")

/var/folders/4p/sk1kyy7d621cjpk6t3v7dxp00000gn/T/ipykernel_30931/3656780976.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scores_df['AU_score'] = scores_df['AU_score'].astype(int)
/var/folders/4p/sk1kyy7d621cjpk6t3v7dxp00000gn/T/ipykernel_30931/3656780976.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scores_df['opp_score'] = scores_df['opp_score'].astype(int)

                   AU_score  opp_score  points_diff
opp_name
North Carolina           55        107          -52
Saint Joseph's           57         84          -27
La Salle                 52         65          -13
Bucknell                117        129          -12
Mount St. Mary's         72         83          -11
Navy                    192        201           -9
Siena                    66         74           -8
High Point               73         80           -7
Virginia                 58         63           -5
Army West Point         140        144           -4
UMBC                     93         96           -3
Boston U.               102        104           -2
Kansas City              64         60            4
Lehigh                  146        142            4
UAlbany                  81         77            4
George Washington        81         71           10
Lafayette               206        195           11
Harvard                  67         55           12
P.R.-Bayamon             73         56           17
Holy Cross              149        129           20
Colgate                 220        198           22
Loyola Maryland         145        105           40
Notre Dame (MD)          97         52           45

Note the comments there, which aren't telling Python to do anything but just makes it more readable for us humans

## üóì Putting in other years of data

So somewhere in here we want to make this automated, where it goes and pulls down all the data. **Discussion: How could this change the code above?**

### üèÄ Scraping the other years from AU's website

Notice the url that we pulled the data from `https://aueagles.com/sports/mens-basketball/stats/2024-25`

Those two years on the end of it look interesting. What would happen if we changed that? **Test that in your browser to try to go back to an earlier year (ie 2021-2022)**

Really what we want to do is go through *every* year available and grab that score table on the page. 

Then we want to put it into one GIANT score table with every game from every year. 

Looking at the dropdown on the AU web page, it looks like the first season they have is 2009-10. 

So we want to write a list of years that we'll get the data from:

`years_list = ['2009-10', '2010-11', ..., '2024-25']`

üßë‚Äçüíª **Finish typing that years_list variable in the cell below, making sure each item in the list is a string surrounded by quotes**

Now we can go through each of those years and get the score table for that year. Along the way, we'll add it to one GIANT score dataframe that will start empty but get filled in for each year.

In [ ]:
giant_score_df = pd.DataFrame()

In [ ]:
import time

for year_string in years_list:
    web_tables = pd.read_html("https://aueagles.com/sports/mens-basketball/stats/" + year_string)
    scores_df = web_tables[5]
    giant_score_df = pd.concat([giant_score_df,scores_df])
    print(year_string, 'completed')
    time.sleep(4)

Uh oh! That error looks scary. 

But before we dive into it, let's go line by line and look at what that code was doing:

    import time

    for year_string in years_list:
        web_tables = pd.read_html("https://aueagles.com/sports/mens-basketball/stats/" + year_string)
        scores_df = web_tables[5]
        giant_score_df = pd.concat([giant_score_df,scores_df])
        print(year_string, 'completed')
        time.sleep(4)


        


`import time` imports a new library called time that lets us pause for a few seconds between each request to AU's website 

`for year_string in years_list:` sets up a "for loop". this is like saying "for x in y" where y is a list and x is what we're going to call each item in the list as we go through it. The "x" name is arbitrary ‚Äî¬†we could say `for banana in years_list` and it would still work
   
`web_tables = pd.read_html("https://aueagles.com/sports/mens-basketball/stats/" + year_string)` the same as when we got the web_tables before, except this time we are using `year_string` ‚Äî¬†the "x in y". So in years_list, `year_string` will represent either "2009-10", or "2010-11", etc...

`scores_df = web_tables[5]` same as before, gets the sixth web table (since index 5 = the 6th). This only holds one year at a time.

`giant_score_df = pd.concat([giant_score_df,scores_df])` uses pandas to combine, or *concatenate*, two dataframes: `giant_score_df` and `scores_df`. This is how we keep adding on and on to `giant_score_df`

`print(year_string, 'completed')` prints the year then the word "completed", letting us know when we've finished a year in our for loop

`time.sleep(4)` pauses for four seconds so we dont overwhelm the servers from the website we're scraping

-------

So now that we know how that for loop works, we can look at the error. Always start from the bottom of the error - in this one, we see there's a 404 error for the one of the pages.

The error appeared after we finished the 2013-2014 season, which means it's probably a problem with the 2014-15 sesason. **Go to the AU web page in your browser and see if you can figure out what's going on.**

------------------

It looks like 2014-15 goes to a broken link, so we'll have to skip that year. Here's the `years_list` rewritten without 2014-15 included

In [ ]:
years_list = ["2009-10", "2010-11", "2011-12", "2012-13", "2013-14", "2015-16", "2016-17", "2017-18", "2018-19", "2019-20", "2020-21", "2021-22", "2022-23", "2023-24", '2024-25']

After you run this cell above, try re-running the for loop here

In [ ]:
giant_score_df = pd.DataFrame()

for year_string in years_list:
    web_tables = pd.read_html("https://aueagles.com/sports/mens-basketball/stats/" + year_string)
    scores_df = web_tables[5]
    giant_score_df = pd.concat([giant_score_df,scores_df])
    print(year_string, 'completed')
    time.sleep(4)

OK, looks like all the rest worked! We can now view the giant dataframe and see what it looks like

In [ ]:
giant_score_df

Not bad, 479 rows!

Here's a couple things we need to make sure of before we put this into our working code:

1. Need to get rid of totals
2. Need to make sure that schools are written the same over time (this could be hard since we're going back 10+ years)

üßë‚Äçüíª Let's start with the easy one, get rid of the totals, aka the rows that have a blank `Date` column. **Filter this down in the next cell as a NEW variable called `giant_score_df_filtered` with only the rows of `giant_score_df` where Date is not blank** (so we don't overwrite the dataframe we just worked so hard to scrape)

üßë‚Äçüíª **Once you've done that, print out the length of the new dataframe: `print(len(giant_score_df_filtered))`. See how it compares to the original before you filtered it `print(len(giant_score_df))`**

It should be that there are 30 rows that were dropped - this makes sense if we have 15 years worth of data, each with two total rows! (one for AU and one for opponents)

### ‚õπÔ∏è‚Äç‚ôÇÔ∏è Standardize school names

Now we want to look at how school names are written, since we can't do a `groupby` if they're different.

üßë‚Äçüíª First, put the names into `opp_name` column again so we can get rid of the "at" and "vs" in the opponent column. This will be the same as how we did it previously.

Now I want to look at all the UNQIUE names in `opp_name` column and see if there are schools that are written more than one way

Outputting a pandas list into a `set()` shows us the unique entries in it.

In [ ]:
set(giant_score_df_filtered['opp_name'].sort_values())

Right off the bat we can see issues. Albany is in there as "ALBANY" and "Albany (NY)". Boston University looks like it's in there 3 different ways.

----------

To account for this, we can set up a *dictionary* that tells Pandas how we want each to be referred to. A dictionary is like a list, except instead of referring to values in it by an index ([0], [1], etc...), we refer to them by a *key*. 

So `sean_dict = {"hair": "brown", "name": "sean", "eyes": "blue"}` could be a dictionary representing me. 

If we output `sean_dict['hair']`, we would expect it to return "brown"

---------------------

üßë‚Äçüíª Here, we'll start a dictionary that says how we want to refer to the ones that need to change. **We'll go through and fill it in together.**

In [ ]:
school_names_dict = {
    'Albany (NY)': "ALBANY",
    'ARMY': "Army",
    'Army West Point': "Army"
}

Once we have that done, we'll want to make that a new column called `opp_name_cleaned`. We can change the names in `opp_name` column that are keys in our dictionary.

In [ ]:
def replace_name(x):
    if x in school_names_dict:
        return school_names_dict[x]
    else:
        return x

giant_score_df_filtered['opp_name_cleaned'] = giant_score_df_filtered['opp_name'].apply(replace_name)

`def replace_name(x)` is a *function*. It takes an input (x) and then returns an output depending on what x is.

`if x in school_names_dict:` says if the input `x` exists as a key in our dictionary, do the following:

`return school_names_dict[x]` would in that case return the *value* of that dictionary key `x`

`else:` says if `x` does NOT exist as a key in our dictionary, do the following:

`return x` just returns the input `x` without doing anything to it. 

In total, this function either substitutes in a "clean" name or just returns the original name. But this above function doesn't "automatically" run. We have to tell Python or Pandas how to use it below:

`giant_score_df_filtered['opp_name_cleaned'] =` sets new column called `opp_name_cleaned`

`giant_score_df_filtered['opp_name']` accesses our old column called `opp_name`

`.apply(replace_name)` applies our `replace_name` function to that column

-------------

Let's look at the rows that changed - the ones where `opp_name_cleaned` is not the same as `opp_name`

In [ ]:
giant_score_df_filtered[giant_score_df_filtered['opp_name_cleaned'] !=  giant_score_df_filtered['opp_name']]

Now that we have our giant_score_df_filtered, we can put this code into our old Python code block to integrate it.

### ‚úÖ A minimum threshold of times playing a team

But wait, there's one more thing!

AU played some teams a bunch of times and some teams very few times over this 15 year period. Maybe we want to set a minimum threshold? So we only look at teams that we played at least X times.

First, we get the total number of times we played each team and save it as a variable `counts`

In [ ]:
counts = giant_score_df_filtered['opp_name_cleaned'].value_counts()
counts

`.value_counts()` is a build in pandas function that tells us how many times each value shows up in a column

Now, set the minimum threshold we want to work with as a variable, so it's easy to change later if we want to play with it

In [ ]:
min_threshold = 3

Then, keep only rows where the opponent appears at least min_threshold times and store as a new dataframe variable `giant_score_df_filtered_cts`

In [ ]:
giant_score_df_filtered_cts = giant_score_df_filtered[
    giant_score_df_filtered["opp_name_cleaned"].map(counts) >= min_threshold
]

`.map(counts)` says: ‚ÄúLook up the count for each row‚Äôs opponent.‚Äù in our variable `counts`

`>= min_threshold` only keep the rows that are at least as big as the number we set as min_threshold (greater than or equal to)

üßë‚Äçüíª **Again using `len()`, see how many rows we just dropped between `giant_score_df_filtered_cts` and `giant_score_df_filtered`**

## üßë‚Äçü§ù‚Äçüßëüóì Putting it all together, with all the years of data

As a reminder, here's the old code block we wrote

In [ ]:
import pandas as pd

# get the data from AU
web_tables = pd.read_html("https://aueagles.com/sports/mens-basketball/stats/2024-25")
scores_df = web_tables[5]

# pull out the scores
scores_df['AU_score'] = scores_df['Score'].str.split("-",expand=True)[0]
scores_df['opp_score'] = scores_df['Score'].str.split("-",expand=True)[1]

# standardize opponent name by removing vs or at
scores_df['opp_name'] = scores_df['Opponent'].str[3:]

# drop the non game total rows
scores_df = scores_df[scores_df['Date'].isna()==False]

# combine for each opponent
scores_df['AU_score'] = scores_df['AU_score'].astype(int)
scores_df['opp_score'] = scores_df['opp_score'].astype(int)
scores_combined_df = scores_df.groupby("opp_name").sum()[['AU_score','opp_score']]
scores_combined_df['points_diff'] = scores_combined_df['AU_score'] - scores_combined_df['opp_score']

# output the sorted combined scores dataframe
scores_combined_df.sort_values("points_diff")

And here it is, after we  .... 

* scraped all the years from AU
* cleaned school names
* set a minimum threshold
* changed variable names to match our giant_score_df instead of just one year at a time

(Note this will take a little bit to run as it will "re-scrape" each of those URLs)

In [ ]:
import pandas as pd

# *NEW* Scrape all the years from AU
years_list = ["2009-10", "2010-11", "2011-12", "2012-13", "2013-14", "2015-16", "2016-17", "2017-18", "2018-19", "2019-20", "2020-21", "2021-22", "2022-23", "2023-24", '2024-25']
giant_score_df = pd.DataFrame()

for year_string in years_list:
    web_tables = pd.read_html("https://aueagles.com/sports/mens-basketball/stats/" + year_string)
    scores_df = web_tables[5]
    giant_score_df = pd.concat([giant_score_df,scores_df])
    print(year_string, 'completed')
    time.sleep(4)

# standardize opponent name by removing vs or at (*moved up before we fix school names*)
giant_score_df['opp_name'] = giant_score_df['Opponent'].str[3:]

# drop the non game total rows (*moved up before we fix school names*)
giant_score_df_filtered = giant_score_df[giant_score_df['Date'].isna()==False]

# *NEW* fix school names that are written differently
school_names_dict = {
    'Albany (NY)': "ALBANY",
    'ARMY': "Army",
    'Army West Point': "Army"
}
giant_score_df_filtered['opp_name_cleaned'] = giant_score_df_filtered['opp_name'].apply(lambda x: school_names_dict[x] if x in school_names_dict else x)

# *NEW* set a minimum threshold of how many times AU has to play a team to be counted
counts = giant_score_df_filtered['opp_name_cleaned'].value_counts()
min_threshold = 3
giant_score_df_filtered_cts = giant_score_df_filtered[
    giant_score_df_filtered["opp_name_cleaned"].map(counts) >= min_threshold
]

# *NEW* from here on out we are referring to giant_score_df_filtered_cts to get all the scores, which replaces scores_df

# pull out the scores
giant_score_df_filtered_cts['AU_score'] = giant_score_df_filtered_cts['Score'].str.split("-",expand=True)[0]
giant_score_df_filtered_cts['opp_score'] = giant_score_df_filtered_cts['Score'].str.split("-",expand=True)[1]

# combine for each opponent
giant_score_df_filtered_cts['AU_score'] = giant_score_df_filtered_cts['AU_score'].astype(int)
giant_score_df_filtered_cts['opp_score'] = giant_score_df_filtered_cts['opp_score'].astype(int)
scores_combined_df = giant_score_df_filtered_cts.groupby("opp_name_cleaned").sum()[['AU_score','opp_score']] # *NEW* refers to opp_name_cleaned instead of opp_name
scores_combined_df['points_diff'] = scores_combined_df['AU_score'] - scores_combined_df['opp_score']

# output the sorted combined scores dataframe
scores_combined_df.sort_values("points_diff")

This table above reflects the total points for and against teams that AU played at least three times between the 2010 and 2025 seasons (excluding the 2015 season, which had no data).

# üìà Using Datawrapper to automatically visualize this

## üìö Loading in the library

Now let's look at how we would automatically put this into a chart using Datawrapper's API. First thing we need to do is install the `datawrapper` library and import it

In [ ]:
%pip install datawrapper

In [ ]:
import datawrapper as dw

Datawrapper's API, like most do, requires a secret key so that it knows who is using it. Think of it like a password. There are [instructions here on how to do that](https://developer.datawrapper.de/docs/getting-started) under Authentication.

We're going to set up a Python Datawrapper object that "knows" our API key.

## üîë Setting up the API

üßë‚Äçüíª Insert your API key below to the right of the equal sign

In [ ]:
%env DATAWRAPPER_ACCESS_TOKEN=

Again here, nothing "happens" because all we've done is name the `dw` variable as this object. 

BUT ‚Äî now we have access to all the different fun things we can do with a Datawrapper object, known as "methods." Methods are the prebuilt functions that come with libraries that chain off an object like `pandas.sort_values()`.

## üê£ Creating a chart

Most good libraries and APIs have what's called "documentation" online where they write how to use the library or API.

Here is the documentation for Datawrapper's API https://datawrapper.readthedocs.io/en/latest/index.html

This creates a bar chart using our data. The instructions to create a bar chart are here https://datawrapper.readthedocs.io/en/latest/user-guide/charts/bar-charts.html

In [ ]:
chart = dw.BarChart(
    title='AU basketball',
    data=scores_combined_df,
)

# create the chart
chart.create()

Once you've created the chart, you can see it show up in your Datawrapper dashboard. 

**Go to your dashboard on datawrapper.de and click on the new chart you just created. See anything in the data we're missing or want to change?**

--------------

Since there are a couple things in the data we want to change, let's make a new variable called `data_to_chart` that starts as a copy of `scores_combined_df`. Then we can handle the issues individually.

In [ ]:
data_to_chart = scores_combined_df

In [ ]:
data_to_chart = data_to_chart.reset_index()

data_to_chart = data_to_chart[["opp_name_cleaned", "points_diff"]]

data_to_chart = data_to_chart.sort_values("points_diff",ascending=False)

`data_to_chart.reset_index()` => This fixes the issue that prevented the opponent name column from showing up. The problem was that Pandas was treating that column as an "index" for the dataframe, instead of a column itself. That's because we grouped on it earlier. Good news is it's easy to fix with `.reset_index()`!

`data_to_chart[["opp_name_cleaned", "points_diff"]]` Makes it so we only have the Opponent and Net points columns in our dataframe

`data_to_chart.sort_values("points_diff",ascending=False)` sorts the dataframe by the Net points in descending order

-----------

Once we've made those changes, let's preview the `data_to_chart` dataframe

In [ ]:
data_to_chart.head(5)

Now we can update our chart using that cleaned up dataframe. Notice we first make a change to the `chart` variable, then use the `update()` function to push that to the web.

In [ ]:
chart.data = data_to_chart
chart.update()

**Go to your dashboard and look at the chart again.**

## üñç Modifying the chart

From the library docs, we can see  how to update an existing chart: Updating an existing chart https://datawrapper.readthedocs.io/en/latest/user-guide/chart-operations.html#updating-an-existing-chart

In [ ]:
chart.title = "AU basketball has found most success against Holy Cross; worst vs. Lehigh"
chart.update()

----------

After you've done that, you should be able to see the title has updated in the chart in your browser. You don't even need to refresh the page!

---------------

Now we want to update the text on the graphic. We can look to the example on the documentation on how to do this:

The options for a bar chart https://datawrapper.readthedocs.io/en/latest/user-guide/charts/bar-charts.html

üßë‚Äçüíª **In the cell below, complete the following steps:**

Use the example above as a template for updating the following changes (you'll need to look at the options for a bar chart link to see what synatx to use):

    * Introduction: "Cumulative points for and against mens basketball opponents, 2010-2025"
    * Source name: "American University"
    * Source URL: "https://aueagles.com/sports/mens-basketball/stats"
    * Byline: Your name
    * Notes: "Only includes opponents played at least three times. Data not available for 2015 season."

In [ ]:



chart.update()

-----------------------
Check to make sure this all updated in your browser - if it looks good, congratulations!

Now we can publish the chart so it's visible to the world!

In [ ]:
chart.publish()

And we can even see it right here in the notebook now

In [ ]:
chart.display()

--------------

# üéÜüé∫üéâ

Congratulations! You've gone from web scraping to cleaning to analysis to visualization, all automatically!

If there's time, are there any other changes to the chart we should make together?